<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>тестовое задание IVITE</title>
    <link href="assets/bootstrap-3.4.0-dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/Fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body class="container-fluid">

<div id="scroll-down">
    <span>Scroll Down</span>
    <div>
        <span class="glyphicon glyphicon-menu-down"></span>
    </div>
</div>

<%- include src/templates/header %>
<%- include src/templates/about-agency %>
<%- include src/templates/news-area %>
<%- include src/templates/blog-area %>
<%- include src/templates/quick-action-area %>
<%- include src/templates/key-feature %>
<%- include src/templates/team %>
<%- include src/templates/contact %>
<%- include src/templates/map %>
<%- include src/templates/footer %>

</body>
</html>